<footer class="container">

    <section class=" row footer__contact container  ">
        <div class="contact__url__tel col-12 col-sm-5 col-lg-3">
            <h4 class="">Contactez-moi <em>!</em> </h4>
                <p><a href="contact.html" title="Lien URL vers page Contact - Cliquez pour accéder au formulaire"><adress>photographe-cc.netlify.app/contact.html<adress></a></p>
                
                <p><a href="{{contact.phone}}" title="Contact téléphonique - Cliquez pour appeler">06 00 00 00 00</a></p>
                    
            </div>
            <div class=" footer__logo col-12 col-sm-5 col-lg-3">
                <img class="logo img-fluid    rounded " src="{{site.logo}}" srcset="" alt="Logo de Charles Cantin">
            </div>

            <div class="footer__reseaux__sociaux col-12 col-sm-5 col-lg-3">
                <div class="accueil__footer__facebook">
                    <a href="{{social.facebook}}" target="_blank" class="reseau2"  title=" Lien vers Facebook" ><i class="fa fa-facebook"></i></a>
                </div>
                <div class="accueil__footer__instagram">
                    <a href="{{social.instagram}}" target="_blank" title="Lien vers Instragram"  class="reseau2 "  ><i class="fa fa-instagram"></i></a>
                </div>
                <div class="accueil__footer__linkedin">
                    <a href="{{social.linkedin}}" target="_blank" title="Lien vers Linkedin"  class="reseau2 "  ><i class="fa fa-linkedin"></i></a>
                </div>
            
            </div>
            <div class="col-12 col-sm-5 col-lg-3  accueil__footer__menuNavigation">
                <ul>
                    <li><a href="index.html" class="">Accueil</a></li>
                    <li><a href="portfolio.html" aria-current="page" class="active">Portfolio</a></li>
                    <li><a href="tarif-prestation.html" class="">Tarifs et Prestations</a></li>
                    <li><a href="contact.html" class="">Contact</a></li>
                </ul>
                
            </div>
        </div>
    </section>

<hr class="separator__footer" >
    <section class="copyright">
        <div class="row">
            <div class="col-12 ">
                <p class="text-center copyright">Copyright @ 2022 All rights reserved by :
                    <a href="mailto:lana.12@wanadoo.fr"><strong>Virginie Giacometti</strong></a>
                </p>
            </div>
        </div>
    </section>

</footer>