--- 
title: PortFolio
--- 
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- FAVICON a mettre ds img avant--> 
    <link rel="icon" type="image/png" href="/../img/favicon.png">

<!-- Lien pour les icones -->
    <script src="https://use.fontawesome.com/4c7b786387.js"></script>
    
<!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

<!--Bootstrap CSS-->
    <link href="../../lien/bootstrap.min.css" rel="stylesheet">

<!-- My CSS -->
    <link rel="stylesheet" href="../css/styles.css">

    <title>{{title}} - {{site.mainTitle}}</title>
</head>
<body>

    <header class="header__portfolio" >

<!-- Navbar -->
        {% include "navBar.njk" %}

<!-- Title + paragraph-search-->
            <div class="header__portfolio__title">
                <h1 class="mb-4 ">Portfolio</h1>
                <section class=" container">
                    <nav>
                        <div class="items__portfolio ">
                            <div class="row portfolio__items">
                                <p class="item__portfolio active" data-name="all" >Tout</p>
                                <p class="item__portfolio" data-name="portrait">Portrait</p>
                                <p class="item__portfolio" data-name="family">Famille</p>
                            </div>
                
                            <div class="row portfolio__items ">
                                <p class="item__portfolio" data-name="baby">Bébé</p>
                                <p class="my-2">Choisissez une catégorie</p>
                                <p class="item__portfolio" data-name="couple">Couple</p>
                            </div>
                
                            <div class="row portfolio__items">
                                <p class="item__portfolio" data-name="wedding">Mariage</p>
                                <p class="item__portfolio" data-name="baptism">Baptême</p>
                                <p class="item__portfolio" data-name="pregnancy">Grossesse</p>
                            </div>
                
                        </div>
                    </nav>
                </section>  
            </div>
    </header>
    <section>
        <!-- filter images -->
        <div class=" gallery row">
<!-- Category COUPLE-->
            <div class="image  " data-name="couple">
                <img class="img-fluid"
                src="../img/couple/photo-couple-2-original.jpg" alt="Couple - Jeune homme porte sur son dos sa compagne" srcset="../img/couple/photo-couple-2-1200x800px.jpg 1200w, ../img/couple/photo-couple-2-800x533px.jpg 1000w, ../img/couple/photo-couple-2-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="couple">
                <img class="img-fluid" 
                src="../img/couple/photo-couple-1-original.jpg" alt="Couple entrelacé à la mer" srcset="../img/couple/photo-couple-1-1200x800px.jpg 1200w, ../img/couple/photo-couple-1-800x533px.jpg 1000w, ../img/couple/photo-couple-1-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="couple">
                <img class="img-fluid" 
                src="../img/couple/photo-couple-3-original.jpg" alt="Couple ombre sur fond de coucher de soleil" srcset="../img/couple/photo-couple-3-1200x850px.jpg 1200w, ../img/couple/photo-couple-3-800x567px.jpg 1000w, ../img/couple/photo-couple-3-250x177px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="couple">
                <img class="img-fluid" 
                src="../img/couple/photo-couple-4-original.jpg" alt="Couple entrain de s'embrasser, à la montagne" srcset="../img/couple/photo-couple-4-1200x1799px.jpg 1200w, ../img/couple/photo-couple-4-800x1199px.jpg 1000w, ../img/couple/photo-couple-4-250x374px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="couple">
                <img class="img-fluid"
                src="../img/couple/photo-couple-5-original.jpg" alt="Couple ombre en train de faire du vélo " srcset="../img/couple/photo-couple-5-1200x800px.jpg 1200w, ../img/couple/photo-couple-5-800x533px.jpg 1000w, ../img/couple/photo-couple-5-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="couple">
                <img class="img-fluid"
                src="../img/couple/photo-couple-6-original.jpg" alt="Couple entrecalet" srcset="../img/couple/photo-couple-6-1200x1600px.jpg 1200w, ../img/couple/photo-couple-6-800x1066px.jpg 1000w, ../img/couple/photo-couple-6-250x333px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="couple">
                <img class="img-fluid" 
                src="../img/couple/photo-couple-7-original.jpg" alt="Couple à la mer" srcset="../img/couple/photo-couple-7-1200x800px.jpg 1200w, ../img/couple/photo-couple-7-800x533px.jpg 1000w, ../img/couple/photo-couple-7-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="couple">
                <img class="img-fluid" 
                src="../img/couple/photo-couple-8-original.jpg" alt="Couple allongé à la mer" srcset="../img/couple/photo-couple-8-1200x800px.jpg 1200w, ../img/couple/photo-couple-8-800x533px.jpg 1000w, ../img/couple/photo-couple-8-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="couple">
                <img class="img-fluid"
                src="../img/couple/photo-couple-9-original.jpg" alt="Couple à la mer, jeune femme pose sa tête sur le dos de son amoureux" srcset="../img/couple/photo-couple-9-1200x800px.jpg 1200w, ../img/couple/photo-couple-9-800x533px.jpg 1000w, ../img/couple/photo-couple-9-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="couple">
                <img class="img-fluid"
                src="../img/couple/photo-couple-10-original.jpg" alt="Couple dans la forêt, en train de danser" srcset="../img/couple/photo-couple-10-1200x800px.jpg 1200w, ../img/couple/photo-couple-10-800x533px.jpg 1000w, ../img/couple/photo-couple-10-250x166px.jpg 600w" loading="lazy">
            </div>
<!-- Category PORTRAIT -->
            <div class="image  " data-name="portrait">
                <img class="img-fluid"
                src="../img/portrait/photo-portrait-1-original.jpg" alt="Portrait - Jeune femme en rouge dans un jardin" srcset="../img/portrait/photo-portrait-1-1200x1758px.jpg 1200w, ../img/portrait/photo-portrait-1-800x1172px.jpg 1000w, ../img/portrait/photo-portrait-1-250x366px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="portrait">
                <img class="img-fluid"
                src="../img/portrait/photo-portrait-2-original.jpg" alt="Portrait femme avec des petites balles dans les airs" srcset="../img/portrait/photo-portrait-2-1200x1740px.jpg 1200w, ../img/portrait/photo-portrait-2-800x1160px.jpg 1000w, ../img/portrait/photo-portrait-2-250x360px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="portrait">
                <img class="img-fluid"
                src="../img/portrait/photo-portrait-3-original.jpg" alt="Portrait femme devant des palmiers" srcset="../img/portrait/photo-portrait-3-1200x1790px.jpg 1200w, ../img/portrait/photo-portrait-3-800x1190px.jpg 1000w, ../img/portrait/photo-portrait-3-250x370px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="portrait">
                <img class="img-fluid" 
                src="../img/portrait/photo-portrait-4-original.jpg" alt="Portrait randonneur" srcset="../img/portrait/photo-portrait-4-1200x1650px.jpg 1200w, ../img/portrait/photo-portrait-4-800x1100px.jpg 1000w, ../img/portrait/photo-portrait-4-250x344px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="portrait">
                <img class="img-fluid"
                src="../img/portrait/photo-portrait-5-original.jpg" alt="Portrait femme " srcset="../img/portrait/photo-portrait-5-1200x1790px.jpg 1200w, ../img/portrait/photo-portrait-5-800x1200px.jpg 1000w, ../img/portrait/photo-portrait-5-250x374px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="portrait">
                <img class="img-fluid"
                src="../img/portrait/photo-portrait-6-original.jpg" alt="Portrait homme, ouvre grand la bouche" srcset="../img/portrait/photo-portrait-6-1200x800px.jpg 1200w, ../img/portrait/photo-portrait-6-800x533px.jpg 1000w, ../img/portrait/photo-portrait-6-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="portrait">
                <img class="img-fluid" 
                src="../img/portrait/photo-portrait-7-original.jpg" alt="Portrait homme" srcset="../img/portrait/photo-portrait-7-1200x800px.jpg 1200w, ../img/portrait/photo-portrait-7-800x533px.jpg 1000w, ../img/portrait/photo-portrait-7-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="portrait">
                <img class="img-fluid"
                src="../img/portrait/photo-portrait-8-original.jpg" alt="Portrait homme dans l'eau " srcset="../img/portrait/photo-portrait-8-1200x1500px.jpg 1200w, ../img/portrait/photo-portrait-8-800x1000px.jpg 1000w, ../img/portrait/photo-portrait-8-250x310px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="portrait">
                <img class="img-fluid"
                src="../img/portrait/photo-portrait-9-original.jpg" alt="Portrait femme, cheveux au vent" srcset="../img/portrait/photo-portrait-9-1200x1800px.jpg 1200w, ../img/portrait/photo-portrait-9-800x1200px.jpg 1000w, ../img/portrait/photo-portrait-9-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="portrait">
                <img class="img-fluid" 
                src="../img/portrait/photo-portrait-10-original.jpg" alt="Portrait homme, en train de danser" srcset="../img/portrait/photo-portrait-10-1200x1800px.jpg 1200w, ../img/portrait/photo-portrait-10-800x1200px.jpg 1000w, ../img/portrait/photo-portrait-10-250x375px.jpg 600w" loading="lazy">
            </div>
<!-- Category FAMILLY-->
            <div class="image  " data-name="family">
                <img class="img-fluid"
                src="../img/famille/photo-famille-1-original.jpg" alt="Famille - Maman qui porte son enfant - à la plage" srcset="../img/famille/photo-famille-1-1200x800px.jpg 1200w, ../img/famille/photo-famille-1-800x533px.jpg 1000w, ../img/famille/photo-famille-1-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="family">
                <img class="img-fluid"
                src="../img/famille/photo-famille-2-original.jpg" alt="Famille - Papa assis avec son enfant sur les genoux sur un ponton" srcset="../img/famille/photo-famille-2-1200x1500px.jpg 1200w, ../img/famille/photo-famille-2-800x1000px.jpg 1000w, ../img/famille/photo-famille-2-250x310px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="family">
                <img class="img-fluid"
                src="../img/famille/photo-famille-3-original.jpg" alt="Famille - Maman qui porte son bébé avec sur eux beaucoup de sable" srcset="../img/famille/photo-famille-3-1200x1800px.jpg 1200w, ../img/famille/photo-famille-3-800x1200px.jpg 1000w, ../img/famille/photo-famille-3-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="family">
                <img class="img-fluid" 
                src="../img/famille/photo-famille-4-original.jpg" alt="Famille en haut d'une digne de savle en train de sauter" srcset="../img/famille/photo-famille-4-1200x1600px.jpg 1200w, ../img/famille/photo-famille-4-800x1066px.jpg 1000w, ../img/famille/photo-famille-4-250x333px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="family">
                <img class="img-fluid"
                src="../img/famille/photo-famille-5-original.jpg" alt="Famille - photo des mains de la famille  " srcset="../img/famille/photo-famille-5-1200x1800px.jpg 1200w, ../img/famille/photo-famille-5-800x1200px.jpg 1000w, ../img/famille/photo-famille-5-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="family">
                <img class="img-fluid"
                src="../img/famille/photo-famille-6-original.jpg" alt="Famille dos au phtographe et face à la mer, les pieds dans l'eau" srcset="../img/famille/photo-famille-6-1200x800px.jpg 1200w, ../img/famille/photo-famille-6-800x533px.jpg 1000w, ../img/famille/photo-famille-6-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="family">
                <img class="img-fluid" 
                src="../img/famille/photo-famille-7-original.jpg" alt="Famille - Câlin d'un frère et une soeur" srcset="../img/famille/photo-famille-7-1200x1800px.jpg 1200w, ../img/famille/photo-famille-7-800x1200px.jpg 1000w, ../img/famille/photo-famille-7-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="family">
                <img class="img-fluid"
                src="../img/famille/photo-famille-8-original.jpg" alt="Famille - Papa et son enfant de dos face au sapin de Noël " srcset="../img/famille/photo-famille-8-1200x1800px.jpg 1200w, ../img/famille/photo-famille-8-800x1200px.jpg 1000w, ../img/famille/photo-famille-8-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="family">
                <img class="img-fluid"
                src="../img/famille/photo-famille-9-original.jpg" alt="Famille - Trois grande soeur et un bébé" srcset="../img/famille/photo-famille-9-1200x800px.jpg 1200w, ../img/famille/photo-famille-9-800x533px.jpg 1000w, ../img/famille/photo-famille-9-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="family">
                <img class="img-fluid" 
                src="../img/famille/photo-famille-10-original.jpg" alt="Famille - En haut d'une coline en train de sauter, coucher de soleil" srcset="../img/famille/photo-famille-10-1200x675px.jpg 1200w, ../img/famille/photo-famille-10-800x450px.jpg 1000w, ../img/famille/photo-famille-10-250x140px.jpg 600w" loading="lazy">
            </div>
<!-- Category BABY-->
            <div class="image  " data-name="baby">
                <img class="img-fluid"
                src="../img/bebe/photo-bebe-1-original.jpg" alt="Bébé - Sur un plaid avec une couronne de fleur sauvage " srcset="../img/bebe/photo-bebe-1-1200x800px.jpg 1200w, ../img/bebe/photo-bebe-1-800x533px.jpg 1000w, ../img/bebe/photo-bebe-1-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baby">
                <img class="img-fluid"
                src="../img/bebe/photo-bebe-2-original.jpg" alt="Bébé - Caché sous la couverture avec la tête qui dépasse, il sourit " srcset="../img/bebe/photo-bebe-2-1200x800px.jpg 1200w, ../img/bebe/photo-bebe-2-800x530px.jpg 1000w, ../img/bebe/photo-bebe-2-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baby">
                <img class="img-fluid"
                src="../img/bebe/photo-bebe-3-original.jpg" alt="Bébé -   Emmailloté dans un linge bleu-nuit" srcset="../img/bebe/photo-bebe-3-1200x834px.jpg 1200w, ../img/bebe/photo-bebe-3-800x556px.jpg 1000w, ../img/bebe/photo-bebe-3-250x170px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baby">
                <img class="img-fluid" 
                src="../img/bebe/photo-bebe-4-original.jpg" alt="Bébé souriant assis " srcset="../img/bebe/photo-bebe-4-1200x1790.jpg 1200w, ../img/bebe/photo-bebe-4-800x1200px.jpg 1000w, ../img/bebe/photo-bebe-4-250x374px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baby">
                <img class="img-fluid"
                src="../img/bebe/photo-bebe-5-original.jpg" alt="Bébé en train de manger un cube en bois, yeux bleu  " srcset="../img/bebe/photo-bebe-5-1200x960px.jpg 1200w, ../img/bebe/photo-bebe-5-800x640px.jpg 1000w, ../img/bebe/photo-bebe-5-250x200px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baby">
                <img class="img-fluid"
                src="../img/bebe/photo-bebe-6-original.jpg" alt="Bébé à plat ventre, il rigole" srcset="../img/bebe/photo-bebe-6-1200x1200px.jpg 1200w, ../img/bebe/photo-bebe-6-800x800px.jpg 1000w, ../img/bebe/photo-bebe-6-250x250px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baby">
                <img class="img-fluid" 
                src="../img/bebe/photo-bebe-7-original.jpg" alt="Bébé à plat ventre et les mains de maman sur le dos du bébé" srcset="../img/bebe/photo-bebe-7-1200x794px.jpg 1200w, ../img/bebe/photo-bebe-7-800x529px.jpg 1000w, ../img/bebe/photo-bebe-7-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baby">
                <img class="img-fluid"
                src="../img/bebe/photo-bebe-8-original.jpg" alt="Bébé - allongé sur le dos " srcset="../img/bebe/photo-bebe-8-1200x800px.jpg 1200w, ../img/bebe/photo-bebe-8-800x533px.jpg 1000w, ../img/bebe/photo-bebe-8-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baby">
                <img class="img-fluid"
                src="../img/bebe/photo-bebe-9-original.jpg" alt="Bébé allongé en train de bailler, porte un bonnet et son doudou à côté" srcset="../img/bebe/photo-bebe-9-1200x800px.jpg 1200w, ../img/bebe/photo-bebe-9-800x533px.jpg 1000w, ../img/bebe/photo-bebe-9-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baby">
                <img class="img-fluid" 
                src="../img/bebe/photo-bebe-10-original.jpg" alt="Bébé entrain de dormir les bras en l'air" srcset="../img/bebe/photo-bebe-10-1200x800px.jpg 1200w, ../img/bebe/photo-bebe-10-800x533px.jpg 1000w, ../img/bebe/photo-bebe-10-250x166px.jpg 600w" loading="lazy">
            </div>
<!-- Category PREGNANCY -->
            <div class="image  " data-name="pregnancy">
                <img class="img-fluid"
                src="../img/grossesse/photo-grossesse-1-original.jpg" alt="Grossesse - Futur Maman avec ses mains posées sur son ventre en formant un coeur " srcset="../img/grossesse/photo-grossesse-1-1200x794px.jpg 1200w, ../img/grossesse/photo-grossesse-1-800x529px.jpg 1000w, ../img/grossesse/photo-grossesse-1-250x165px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="pregnancy">
                <img class="img-fluid"
                src="../img/grossesse/photo-grossesse-2-original.jpg" alt="Grossesse - Futur Maman avec ses mains posées sur le côté de son ventre " srcset="../img/grossesse/photo-grossesse-2-1200x800px.jpg 1200w, ../img/grossesse/photo-grossesse-2-800x530px.jpg 1000w, ../img/grossesse/photo-grossesse-2-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="pregnancy">
                <img class="img-fluid"
                src="../img/grossesse/photo-grossesse-3-original.jpg" alt="Grossesse - Futur maman assise sur son lit qui déballe les cadeaux, photo prise d'en haut" srcset="../img/grossesse/photo-grossesse-3-1200x1800px.jpg 1200w, ../img/grossesse/photo-grossesse-3-800x1200px.jpg 1000w, ../img/grossesse/photo-grossesse-3-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="pregnancy">
                <img class="img-fluid" 
                src="../img/grossesse/photo-grossesse-4-original.jpg" alt="Grossesse - Futur maman assise en tailleur sur son lit, bras posé sur son genoux qui soutenient sa tête " srcset="../img/grossesse/photo-grossesse-4-1200x800px.jpg 1200w, ../img/grossesse/photo-grossesse-4-800x1200px.jpg 1000w, ../img/grossesse/photo-grossesse-4-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="pregnancy">
                <img class="img-fluid"
                src="../img/grossesse/photo-grossesse-5-original.jpg" alt="Grossesse - Futur Parent, leurs mains sont posées sur le ventre  " srcset="../img/grossesse/photo-grossesse-5-1200x800px.jpg 1200w, ../img/grossesse/photo-grossesse-5-800x533px.jpg 1000w, ../img/grossesse/photo-grossesse-5-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="pregnancy">
                <img class="img-fluid"
                src="../img/grossesse/photo-grossesse-6-original.jpg" alt="Grossesse - Futur Maman, les cheveux sont devant la tête, main posé à la vertical sur le ventre" srcset="../img/grossesse/photo-grossesse-6-1200x1800px.jpg 1200w, ../img/grossesse/photo-grossesse-6-800x1200px.jpg 1000w, ../img/grossesse/photo-grossesse-6-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="pregnancy">
                <img class="img-fluid" 
                src="../img/grossesse/photo-grossesse-7-original.jpg" alt="Grossesse - Maman qui soutient son ventre et papa qui s'amuse avec ses doigts dans les chaussons à marcher sur le ventre - " srcset="../img/grossesse/photo-grossesse-7-1200x1400px.jpg 1200w, ../img/grossesse/photo-grossesse-7-800x930px.jpg 1000w, ../img/grossesse/photo-grossesse-7-250x292px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="pregnancy">
                <img class="img-fluid"
                src="../img/grossesse/photo-grossesse-8-original.jpg" alt="Grossesse - Futur Parent, Papa embrasse le ventre de sa compagne " srcset="../img/grossesse/photo-grossesse-8-1200x1800px.jpg 1200w, ../img/grossesse/photo-grossesse-8-800x1200px.jpg 1000w, ../img/grossesse/photo-grossesse-8-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="pregnancy">
                <img class="img-fluid"
                src="../img/grossesse/photo-grossesse-9-original.jpg" alt="Grossesse - Futur Parent, leurs mains sont posées sur le ventre en quinconce " srcset="../img/grossesse/photo-grossesse-9-1200x800px.jpg 1200w, ../img/grossesse/photo-grossesse-9-800x533px.jpg 1000w, ../img/grossesse/photo-grossesse-9-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="pregnancy">
                <img class="img-fluid" 
                src="../img/grossesse/photo-grossesse-10-original.jpg" alt="Grossesse - Photo dans haut et sur le côté du ventre avec les mains de maman" srcset="../img/grossesse/photo-grossesse-10-1200x1800px.jpg 1200w, ../img/grossesse/photo-grossesse-10-800x1200px.jpg 1000w, ../img/grossesse/photo-grossesse-10-250x375px.jpg 600w" loading="lazy">
            </div>
<!-- Category WEDDING -->
            <div class="image  " data-name="wedding">
                <img class="img-fluid"
                src="../img/mariage/photo-mariage-1-original.jpg" alt="Mariage - Les mariés sont entrelacés avec le voile de la mariée devant  " srcset="../img/mariage/photo-mariage-1-1200x1690px.jpg 1200w, ../img/mariage/photo-mariage-1-800x1126px.jpg 1000w, ../img/mariage/photo-mariage-1-250x351px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="wedding">
                <img class="img-fluid"
                src="../img/mariage/photo-mariage-2-original.jpg" alt="Mariage - Les mariés sont entrelacés" srcset="../img/mariage/photo-mariage-2-1200x1800px.jpg 1200w, ../img/mariage/photo-mariage-2-800x1200px.jpg 1000w, ../img/mariage/photo-mariage-2-250x370px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="wedding">
                <img class="img-fluid"
                src="../img/mariage/photo-mariage-3-original.jpg" alt="Mariage - Les mariés s'embrassent à la reception avec des confettis partout" srcset="../img/mariage/photo-mariage-3-1200x1800px.jpg 1200w, ../img/mariage/photo-mariage-3-800x1200px.jpg 1000w, ../img/mariage/photo-mariage-3-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="wedding">
                <img class="img-fluid" 
                src="../img/mariage/photo-mariage-4-original.jpg" alt="Mariage - Mariée à l'église assise entrain de prier" srcset="../img/mariage/photo-mariage-4-1200x1396px.jpg 1200w, ../img/mariage/photo-mariage-4-800x930px.jpg 1000w, ../img/mariage/photo-mariage-4-250x290px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="wedding">
                <img class="img-fluid"
                src="../img/mariage/photo-mariage-5-original.jpg" alt="Mariage - Alliance posée sur un dictionnaire ouvert à la page mariage " srcset="../img/mariage/photo-mariage-5-1200x800px.jpg 1200w, ../img/mariage/photo-mariage-5-800x533px.jpg 1000w, ../img/mariage/photo-mariage-5-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="wedding">
                <img class="img-fluid"
                src="../img/mariage/photo-mariage-6-original.jpg" alt="Mariage - Mariée de dos avec son voile" srcset="../img/mariage/photo-mariage-6-1200x1800px.jpg 1200w, ../img/mariage/photo-mariage-6-800x1200px.jpg 1000w, ../img/mariage/photo-mariage-6-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="wedding">
                <img class="img-fluid" 
                src="../img/mariage/photo-mariage-7-original.jpg" alt="Mariage - Photo en noir et blanc de deux jeunes mariés voulant s'embrasser " srcset="../img/mariage/photo-mariage-7-1200x1800px.jpg 1200w, ../img/mariage/photo-mariage-7-800x1200px.jpg 1000w, ../img/mariage/photo-mariage-7-250x375px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="wedding">
                <img class="img-fluid"
                src="../img/mariage/photo-mariage-8-original.jpg" alt="Mariage - Gros plan avec le voile de la mariée devant sur le couple qui s'embrasse" srcset="../img/mariage/photo-mariage-8-1200x800px.jpg 1200w, ../img/mariage/photo-mariage-8-800x534px.jpg 1000w, ../img/mariage/photo-mariage-8-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="wedding">
                <img class="img-fluid"
                src="../img/mariage/photo-mariage-9-original.jpg" alt="Mariage - Photo original des pieds des mariés avec leurs chaussures " srcset="../img/mariage/photo-mariage-9-1200x800px.jpg 1200w, ../img/mariage/photo-mariage-9-800x533px.jpg 1000w, ../img/mariage/photo-mariage-9-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="wedding">
                <img class="img-fluid" 
                src="../img/mariage/photo-mariage-10-original.jpg" alt="Mariage - Couple face à face avec la mer derrière" srcset="../img/mariage/photo-mariage-10-1200x800px.jpg 1200w, ../img/mariage/photo-mariage-10-800x532px.jpg 1000w, ../img/mariage/photo-mariage-10-250x166px.jpg 600w" loading="lazy">
            </div>
<!-- Category BAPTISM-->
            <div class="image  " data-name="baptism">
                <img class="img-fluid"
                src="../img/bapteme/photo-bapteme-1-original.jpg" alt="Bâpteme - Enfant qui reçoit l'eau sur sa tête " srcset="../img/bapteme/photo-bapteme-1-1200x800px.jpg 1200w, ../img/bapteme/photo-bapteme-1-800x533px.jpg 1000w, ../img/bapteme/photo-bapteme-1-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baptism">
                <img class="img-fluid"
                src="../img/bapteme/photo-bapteme-2-original.jpg" alt="Bâpteme- Maman qui porte son enfant pour sa bénédiction" srcset="../img/bapteme/photo-bapteme-2-1200x1800px.jpg 1200w, ../img/bapteme/photo-bapteme-2-800x1200px.jpg 1000w, ../img/bapteme/photo-bapteme-2-250x370px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baptism">
                <img class="img-fluid"
                src="../img/bapteme/photo-bapteme-3-original.jpg" alt="Bâpteme - Enfant qui reçoit l'eau sur sa tête" srcset="../img/bapteme/photo-bapteme-3-1200x2600px.jpg 1200w, ../img/bapteme/photo-bapteme-3-800x1760px.jpg 1000w, ../img/bapteme/photo-bapteme-3-250x550px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baptism">
                <img class="img-fluid" 
                src="../img/bapteme/photo-bapteme-4-original.jpg" alt="Bâpteme - Le prête bénit l'enfant" srcset="../img/bapteme/photo-bapteme-4-1200x2600px.jpg 1200w, ../img/bapteme/photo-bapteme-4-800x1760px.jpg 1000w, ../img/bapteme/photo-bapteme-4-250x552px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baptism">
                <img class="img-fluid"
                src="../img/bapteme/photo-bapteme-5-original.jpg" alt="Bâpteme - Le prête bénit l'enfant d'un signe de la croix sur sa tête " srcset="../img/bapteme/photo-bapteme-5-1200x2650px.jpg 1200w, ../img/bapteme/photo-bapteme-5-800x1770px.jpg 1000w, ../img/bapteme/photo-bapteme-5-250x552px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baptism">
                <img class="img-fluid"
                src="../img/bapteme/photo-bapteme-6-original.jpg" alt="Bâpteme -Le prête bénit l'enfant" srcset="../img/bapteme/photo-bapteme-6-1200x800px.jpg 1200w, ../img/bapteme/photo-bapteme-6-800x533px.jpg 1000w, ../img/bapteme/photo-bapteme-6-250x166px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baptism">
                <img class="img-fluid" 
                src="../img/bapteme/photo-bapteme-7-original.jpg" alt="Bâpteme - Enfant avec son cierge allumé " srcset="../img/bapteme/photo-bapteme-7-1200x2650px.jpg 1200w, ../img/bapteme/photo-bapteme-7-800x1770px.jpg 1000w, ../img/bapteme/photo-bapteme-7-250x550px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baptism">
                <img class="img-fluid"
                src="../img/bapteme/photo-bapteme-8-original.jpg" alt="Bâpteme - L'enfant sourit après son Bâpteme" srcset="../img/bapteme/photo-bapteme-8-1200x2650px.jpg 1200w, ../img/bapteme/photo-bapteme-8-800x1770px.jpg 1000w, ../img/bapteme/photo-bapteme-8-250x550px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baptism">
                <img class="img-fluid"
                src="../img/bapteme/photo-bapteme-9-original.jpg" alt="Bâpteme - Enfant qui reçoit l'huile bénite sur son front " srcset="../img/bapteme/photo-bapteme-9-1200x2650px.jpg 1200w, ../img/bapteme/photo-bapteme-9-800x1770px.jpg 1000w, ../img/bapteme/photo-bapteme-9-250x550px.jpg 600w" loading="lazy">
            </div>
            <div class="image  " data-name="baptism">
                <img class="img-fluid" 
                src="../img/bapteme/photo-bapteme-10-original.jpg" alt="Bâpteme - Gros plan sur bébé qui reçoit l'eau sur la tête" srcset="../img/bapteme/photo-bapteme-10-1200x2650px.jpg 1200w, ../img/bapteme/photo-bapteme-10-800x1770px.jpg 1000w, ../img/bapteme/photo-bapteme-10-250x550px.jpg 600w" loading="lazy">
            </div>

        </div>

    </section>

    <!-- Footer -->
    {% include "footer.njk" %}



<!-- JQuery-->
    <script src="../../lien/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JavaScript -->
    <script src="../../lien/bootstrap.bundle.min.js"></script>
<!-- My JavaScript -->
    <script src="script.js" type="text/javascript"></script>

</body>
</html>