--- 
title: Tarifs & Prestation
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- FAVICON a mettre ds img avant--> 
    <link rel="icon" type="image/png" href="/img/favicon.png">

<!-- Lien pour les icones -->
    <script src="https://use.fontawesome.com/4c7b786387.js"></script>
    
<!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

<!--Bootstrap CSS-->
    <link href="../../lien/bootstrap.min.css" rel="stylesheet">

<!-- My CSS -->
    <link rel="stylesheet" href="../css/styles.css">

    <title>{{title}} - {{site.mainTitle}}</title>
</head>
    
<body>
    <header class="header__tarifEtPrestation" >

        <!-- Navbar -->
        {% include "navBar.njk" %}

<!-- Title -->
            <div class="header__tarifEtPrestation__title center">
                <h1>Tarifs & Prestations</h1>   
            </div>
    </header>

<main class=" bg__tarifEtPrestation">

    <div class="bg__prestation">

        <section class="center text__top height">
            <h2>Mes prestations de photographe </h2>
            <p>Je n'ai que des clients heureux et satisfaits. Je réalise les prestations sur-mesures en fonction de vos envies.</p>
        </section>

        <section class="container-fluid">
            <div class="cards__prestations">

                <div class="card card__prestation center">
                    <div class="card-body">
                        <h5 class="card-title ">Juste moi</h5>
                        <h6 class="card-subtitle mb-2 ">130 euros</h6>
                        <p class="card-text">Séance pour une personne, en extérieur ou en studio</p>
                    </div>
                    <div class="card-footer  bg-transparent pt-0 ">
                        <a href="contact.html" class="card-link" title="Lien vers la page Contact">Contact</a>
                        <a href="portfolio.html" class="card-link" title="Lien vers la page PortFolio">PortFolio</a>
                    </div>
                </div>

                <div class="card card__prestation center">
                    <div class="card-body">
                        <h5 class="card-title">Pour deux</h5>
                        <h6 class="card-subtitle mb-2">195 euros</h6>
                        <p class="card-text">Pour deux personnes, en extérieur ou en studio</p>
                    </div>
                    <div class="card-footer  bg-transparent pt-0 ">
                        <a href="contact.html" class="card-link" title="Lien vers la page Contact">Contact</a>
                        <a href="portfolio.html" class="card-link" title="Lien vers la page PortFolio">PortFolio</a>
                    </div>
                </div>
                
                <div class="card card__prestation center">
                    <div class="card-body">
                        <h5 class="card-title"> Famille ou Amis</h5>
                        <h6 class="card-subtitle mb-2">220 euros</h6>
                        <p class="card-text">4 personnes, en extérieur ou en studio<br>
                        Supplément de 30€ par personne (sauf enfant de -2 ans)</p>
                    </div>
                    <div class="card-footer  bg-transparent pt-0 ">
                        <a href="contact.html" class="card-link" title="Lien vers la page Contact">Contact</a>
                        <a href="portfolio.html" class="card-link" title="Lien vers la page PortFolio">PortFolio</a>
                    </div>
                </div>
                <div class="card card__prestation center">
                    <div class="card-body">
                        <h5 class="card-title"> Il était une fois</h5>
                        <h6 class="card-subtitle mb-2">160 euros</h6>
                        <p class="card-text">Photo de grossesse (À votre domicile, en extérieur ou en studio)</p>
                    </div>
                    <div class="card-footer  bg-transparent pt-0 ">
                        <a href="contact.html" class="card-link" title="Lien vers la page Contact">Contact</a>
                        <a href="portfolio.html" class="card-link" title="Lien vers la page PortFolio">PortFolio</a>
                    </div>
                </div>
                <div class="card card__prestation center">
                    <div class="card-body">
                        <h5 class="card-title"> Mon bébé</h5>
                        <h6 class="card-subtitle mb-2">100 euros</h6>
                        <p class="card-text">Photo d’enfant jusqu’à 3 ans (photo à domicile)</p>
                        
                    </div>
                    <div class="card-footer  bg-transparent pt-0 ">
                        <a href="contact.html" class="card-link" title="Lien vers la page Contact">Contact</a>
                        <a href="portfolio.html" class="card-link" title="Lien vers la page PortFolio">PortFolio</a>
                    </div>
                </div>
                <div class="card card__prestation center">
                    <div class="card-body">
                        <h5 class="card-title"> Mariage ou Baptême</h5>
                        <h6 class="card-subtitle mb-2">Sur devis</h6>
                        <p class="card-text">J’immortalise l’événement sur mesure<br>
                        Prestation sur devis</p>
                        
                        
                    </div>
                    <div class="card-footer  bg-transparent pt-0 ">
                        <a href="contact.html" class="card-link" title="Lien vers la page Contact">Contact</a>
                        <a href="portfolio.html" class="card-link" title="Lien vers la page PortFolio">PortFolio</a>
                    </div>
                </div>

            </div>
        </section>

        <section class="center text__top height ">
            <h3>Chaque prestation est unique, car vous êtes uniques.</h3>
            <p class="pt-4">Offrez une séance photo à vos proches pour noël, un anniversaire, une liste de naissance...</p>
            <p>C'est aussi le cadeau idéal pour les papis et mamies, qui adorent paratger des moments en famille. </p>
        </section>

    </div>
    
</main>



 <!-- Footer -->
    {% include "footer.njk" %}



<!-- JQuery-->
    <script src="../../lien/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JavaScript -->
    <script src="../../lien/bootstrap.bundle.min.js"></script>
<!-- My JavaScript -->
    <script src="script.js" type="text/javascript"></script>
</body>
</html>